
    
   
     {{{content}}}
     <br>
     <h1><a href="/quotes">here are your quotes</a></h1>
      <ul>
        {{#each content}}
            <li>{{this}} </li>
        {{/each}}
    </ul>
   

  
