
    
   
     {{{content}}}
     <br>
     <a href="/quotes">click here to get your quotes</a>
      <ul>
        {{#each content}}
            <li>{{this.message}} </li>
        {{/each}}
    </ul>
   

  
